<div class="post-banner"></div>
<div class="container">
  <h1> All Listings</h1>



<% @listings.each do |listing| %>
<div class="col-md-3">
  <div class="thumbnail">
    <%= link_to listing do %>
    <%= image_tag listing.image, class: 'listing-images' %>
    <% end %>
    <p>
      <strong><%= link_to listing.title, listing %></strong>
      </p>
      <p><%= number_to_currency(listing.cost) %></p>
      </div>
      </div>
      <% end %>
      </div>
