.listing-images:hover {
    cursor: pointer;
}

.thumbnail {
	height: 300px;
}

#navbar-brand {
	font-family: arial;
}

#flash-messages {
  margin-top: 20px;
}

.devise-links {
  margin-top: 20px;
}

#content {
  margin-top: 50px;
}
