<div class="row">
<%= form_for [@listing, @category] do |f| %>
  <div class="form-group">
    <%= f.text_area :name, placeholder: 'Type in new category...', class: 'form-control' %>
  </div>

  <div class="form-buttons">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
