<br>
<div class="container">
    <div class="row">
        <div class="col-md-10 content-box">
            <h2>All Categories</h2>
            <br>
            <%= @categories.each do |category| %>
            <br>
            <%= link_to category.name %>
          </div>
            </div>
            </div>

    <% end %>
