<ol id="reviews" class="list-unstyled">
  <% reviews.each do |review| %>
  <li>
    <div class="card">
      <div class="post-preview">
        <small><strong><%= review.user.name.to_s %></strong> - <%= review.updated_at.strftime("%e %B %Y %H:%M %p") %></small>
      </div>
      <div class="card-body">
          <p>
           <%= review.content %>
          
         </p>
     </div>
   </div>
  </li>
 <% end %>
</ol>
